body {
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

#main-title {
}

#description {
  font-style: italic;
}

.text-box {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  box-sizing: border-box;
}

#prompt {
  height: 100%;
}

#response {
  min-height: auto;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  white-space: pre-wrap;
  overflow: hidden;
}

button {
  width: 15%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  display: block;
}

#prompt-button { 
}

#undo-button {
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}