body {
  margin: 40px;
}

#main-title {
}

#prompt-text {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#prompt-button {
}

#response-text {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#undo-button {
}

button {
  width: 50%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}